.loading {
  position: fixed;
  top: 5px;
  right: 5px;
  color:green
}
.error{
  position: fixed;
  top: 5px;
  right: 5px;
  color:red;
}
.fetching{
  position: fixed;
  top: 5px;
  right: 5px;
  color: yellow;
}